<h1>Listing comments</h1>

<table>
  <tr>
    <th>Text</th>
    <th>User</th>
    <th>post_id</th>
  </tr>

  <% @comments.each do |comment| %>
    <tr>
      <td><%= comment.body %></td>
      <td><%= comment.post_id %></td>
    </tr>
  <% end %>
</table>

<%= link_to 'New comment', new_comment_path %>
